<div id="loading" column>
    <p footer>Hold on - Loading app</p>
</div>
<div id="prompt" column>
    <p header>How are you feeling?</p>
    <br/>
    <div row>
        <img onclick="Moodli.report(0);" src="resources/svg/emoji/0.svg"/>
        <img onclick="Moodli.report(1);" src="resources/svg/emoji/1.svg"/>
        <img onclick="Moodli.report(2);" src="resources/svg/emoji/2.svg"/>
    </div>
</div>
<div id="statistics" column>
    <div id="header" row>
        <p>S</p>
        <p>M</p>
        <p>T</p>
        <p>W</p>
        <p>T</p>
        <p>F</p>
        <p>S</p>
    </div>
    <div id="content" column>
        <p footer>Hold on - Loading data</p>
    </div>
    <div id="ui" row>
        <button onclick="Moodli.sign_out();">Quit</button>
        <img id="average" src="resources/svg/icons/symbols/offline.svg"/>
        <button onclick="Moodli.export();">Export</button>
    </div>
</div>